button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f9f4fb;
}

.wrap * {
    box-sizing: border-box;
    /* font-family: 'NanumsquareRound'; */
    font-family: 'Bbatang';
}


.active {
    display: block !important;
}

.deactive {
    display: none !important;
}

.activity {
    width: 1920px;
    height: 1020px;
    position: relative;
    background-color: #F9F4FB;
    z-index: 0;
}

.fullscreen {
    position: absolute;
    left: 27px;
    top: 47px;
}

.keyboard{width: 1448px; height: 158px; position: absolute; left: 236px; bottom: 32px; display: flex; padding: 0 33px; justify-content: space-between; align-items: center; z-index: 1;}
.keyboard:before{content: ''; display: block; width: 1448px; height: 158px; border-radius: 36px; background: #8E8E8E; box-shadow: 0px 3.6px 5.4px 0px rgba(255, 255, 255, 0.25) inset; position: absolute; left: 0; top: 0; z-index: 0;}
.keyboard:after{content: ''; display: block; width: 1448px; height: 158px; border-radius: 36px; background: #7E7E7E; position: absolute; left: 0; top: 12px; z-index: -1; box-shadow: 0px 3.6px 3.6px 0px rgba(0, 0, 0, 0.25);}
.keyboard button{display: flex; align-items: center; justify-content: center; width: 118px; height: 118px; font-size: 90px; font-weight: 400; color: #383838; position: relative; z-index: 1;}
.keyboard button:before{content: ''; display: block; width: 118px; height: 118px; border-radius: 27px; background-color: #fff; position: absolute; left: 0; top: 0; z-index: -1;}
.keyboard button:after{content: ''; display: block; width: 118px; height: 118px; border-radius: 27px; background-color: #D2D2D2; box-shadow: 0px 3.6px 7.2px 0px rgba(0, 0, 0, 0.25), 0px 3.6px 3.6px 0px rgba(255, 255, 255, 0.25) inset; position: absolute; left: 0; top: 5px; z-index: -2;}

.info_message {position: absolute;left: 175px;bottom: 50px;z-index: 100;}
.info_message .pop_img {position: absolute;bottom: 0;left: -88px;display: flex;}

.info_message .pop_text {display: flex;align-items: center;justify-content: center;width: 1570px;height: 120px;border-radius: 60px;background-color: #fff;border: 4px solid #460096;color: #460096;font-size: 44px;font-weight: 500;}


.blank_input {
    width: 100px;
    height: 100px;
    border-radius: 28px;
    border: 8px solid #994AF4;
    font-weight: 500;
    font-size: 65px;
    text-align: center;
    background-image: url(../img/Subtract.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    opacity: 1;
    padding: 0px;
}

.blank_input_deactive {
    width: 100px;
    height: 100px;
    border-radius: 28px;
    border: 8px solid #BFC7DA;
    font-weight: 500;
    font-size: 65px;
    text-align: center;
    background-color: #E6E9F0;
    caret-color: black;
    opacity: 1;
    padding: 0px;
}

.default_text {
    font-size: 62px;
    font-weight: 500;
}

.default_hangul_text {
    font-family: "Malgunbd";
}