#st2_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#st2_1_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#number_container {
    background-image: url("../img/activity/number_container.png");
    width: 845px;
    height: 191px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

#number_container > div > *{
    width: 71px;
    height: 71px;
    margin: 0px 7px;
}

#left_number_container {
    background-image: url("../img/activity/left_number_container.png");
    width: 1201px;
    height: 136px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;
}

#left_text {
    background-image: url("../img/activity/left_text.png");
    width: 200px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#left_white_container {
    background-image: url("../img//activity/left_white_container.png");
    width: 816px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left_img_container {
    width: 760px;
    height: 68px;
    margin-left: 10px;
    overflow: auto;
    overflow-x: hidden;
}

#left_img_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
#left_img_container::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px rgba(171, 127, 220, 0.3);
    border-radius: 4px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
  
#left_img_container::-webkit-scrollbar-thumb {
    background: rgba(171, 127, 220, 1);
    height: 30px;
    border-radius: 50px;
}

#left_img_container > img {
    margin: 0px 6px;
}


#left_cnt_container {
    background-image: url("../img//activity/left_cnt_container.png");
    width: 149.22px;
    height: 101px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 400;
}

#st2_3_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.divide_container {
    background-image: url("../img/activity/divide_container.png");
    width: 198px;
    height: 567px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
}

.divide_white_container {
    background-image: url("../img/activity/divide_white_container.png");
    width: 179px;
    height: 439px;
    padding: 0px;
    display: flex;
}

.scrollZone {
    width: 167px;
    height: 422px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 5px;
    margin-top: 8px;
}

.scrollZone::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
.scrollZone::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px rgba(171, 127, 220, 0.3);
    border-radius: 4px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
  
.scrollZone::-webkit-scrollbar-thumb {
    background: rgba(171, 127, 220, 1);
    height: 30px;
    border-radius: 50px;
}

.divide_number_container {
    background-image: url("../img/activity/divide_number_container.png");
    width: 179px;
    height: 92.03px;
    font-size: 64px;
    font-weight: 500;
    color: rgba(70, 0, 150, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


#s2_hammer {
    cursor: pointer;
    position: absolute;
    top: 47px;
    left: 170px;   
}

#s2_wrench {
    cursor: pointer;
    position: absolute;
    top: 47px;
    left: 330px;
}


#s2_reset {
    cursor: pointer;
    position: absolute;
    top: 47px;
    left: 1710px;
}

#s2_back {
    cursor: pointer;
    position: absolute;
    top: 47px;
    left: 1800px;
}

#hammer_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    display: none;
    z-index: 2;
}

#wrench_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    display: none;
    z-index: 2;
}


.scrollDeActivity {
    display: none;
}

.scrollBar {
    width: 7px;
    height: 90%;
    background: #f1f1f1;
    cursor: pointer;
    margin-right: 12px;
    position: relative;
}

.scrollThumb {
    width: 100%;
    height: 100px;
    background: rgba(171, 127, 220, 1);
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;

}