#study_activity {
    flex-direction: column;
}

/** top -----------------------*/
#top_container {
    width: 10000px; 
    height: 95px; 
    /* box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.05) inset; */
    display: flex; 
    align-items: center; 
    gap: 15px;
    margin-top: -5px;
    transform: translateX(-50%);
}

#topArea_type {
    width: 250px;
    height: 74px;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/common/title_bg.png");
    background-position: center;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 5040px;
}

#topArea_title {
    font-size: 36px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

#capture {
    position: absolute;
    left: 6732px;
}

#homeBtn {
    position: absolute;
    left: 6811px;
}


/** study container -------------------*/
#study_container {
    display: flex; 
    height: 930px;
}

#leftArea {
    display: flex; 
    flex-direction: column; 
    width: 1220px;
}

.chapter {
    width: 100%;
}

#leftBottom {
    width: 100%; 
    height: 93px; 
}

/** 하단 챕터 이동 */
#bot_nav_container {
    display: flex; 
    justify-content: space-between; 
    align-items: end; 
    width: 100%;
    height: 100%;
}

#bottom_nav {
    display: flex; 
    border-radius: 25px 25px 0px 0px;
    background: #cfcfcf;
}

.chapterBtn {
    width: 140px;
    height: 60px;
    border-radius: 25px 25px 0px 0px;
    background: #cfcfcf;
    color: #6a6a6a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    font-family: "Malgunbd";
}


/** 교구1 */
.ch1_default_calc {
    font-size: 54px;
}

/** 교구2 */
.ch2_default_calc {
    font-size: 54px;
}

.chaper2_sub {
    flex-direction: column;
}

#chapter2_2 {
    justify-content: center;
    align-items: center;
}

/** 정리 */
#chapter3 {
    background-color: #F9FDF5;
    display: none; 
    width: 100%; 
    height: 930px; 
    position: absolute; 
    left: 0px; 
    top: 90px;
}

.ch3_areaContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-left: 170px;
    margin-top: 80px;
}

.ch3_textContainer {
    display: flex; 
    align-items: center;
}

.ch3_default_font {
    font-size: 44px;
}

.ch3_checkImg_dumy {
    margin-right: 25px; 
    width: 84px; 
    height: 84px;
}

/** 문제 1 */
.pb1_main_container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 50px;
    margin-top: 44px;
}

.pb1_default_font {
    font-size: 40px;
    margin-left: 8px;
}

/** 문제 2 */
.problem2_container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    font-size: 54px;
    font-family: "Bbatang";
}

/** 문제 3 */
#problem3 {
    justify-content: center;
    align-items: center;
}

/** 문제 4 */
#problem4 {
    justify-content: center;
    align-items: center;
}


/** RightArea -------------------------- */
#rightArea {
    width: 700px; 
    height: 100%; 
    display: flex; 
    justify-content: center;
}

#chapter_content {
    width: 660px; 
    height: 860px; 
    border: 3px solid rgba(204, 225, 205, 1); 
    margin-top: 30px;
    border-radius: 30px;
    background: #FAFFF9;
}

#problem_content {
    display: flex;
    flex-direction: column;
    width: 660px; 
    height: 860px; 
    margin-top: 30px;
    border: 3px solid #CCD7E1;
    border-radius: 30px;
    background: #F9FDFF;
}