html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  margin: 0;
}
#group_temp {
  display: none;
}
shadow-component {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
study-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#viewWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  width: 1920px;
  height: 1020px;
  min-height: 1020px;
  position: relative;
}
button {
  border: none;
  background-color: transparent;
}
svg * { 
  transform-box: fill-box;
}
.key {
  transform-origin: -50% -50%;
}
.btn {
  cursor: pointer;
  z-index: 999;
}
.position_absolute {
  position: absolute;
}
.display_flex {
  display: flex;
}
.opacity_0 {
  opacity: 0;
}
.zIndex_display {
  z-index: 99;
}
#guide_hand {
  left: 887px;
  top: 340px;
  left: 1199px;
  width: 70px;
  height: 78px;
  background-size: cover;
}
button.btn#reset_btn {
  left: 1795px;
  top: 50px;
}
button.btn#reset_btn img {
  width: 70px;
  height: 76px;
}
button.btn#full_screen_btn {
  left: 20px;
  top: 46px;
}
button.btn#full_screen_btn img {
  width: 75px;
  height: 75px;
}
#reset_card_btn {
  top: 127px;
  left: 920px;
}
#reset_card_btn img {
  width: 169px;
  height: 66px;
}
#reset_card_popup {
  z-index: 99;
  top: 205px;
  width: 552px;
  height: 238px;
  left: 638px;
  display: none;
  background-image: url(../img/reset_card_popup_background.png);
  z-index: 900;
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes expand {
  0% {
    -webkit-clip-path: polygon(68.5% 0%, 68.5% 100%, 68.5% 100%, 68.5% 100%, 68.5% 100%);
  }
  43% {
    -webkit-clip-path: polygon(68.5% 0%, 0% 100%, 0% 100%, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-clip-path: polygon(68.5% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
@keyframes shrink {
  0% {
    -webkit-clip-path: polygon(68.5% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  57% {
    -webkit-clip-path: polygon(68.5% 0%, 0% 100%, 0% 100%, 100% 100%, 100% 100%);
  }
  100% {
    -webkit-clip-path: polygon(68.5% 0%, 68.5% 100%, 68.5% 100%, 68.5% 100%, 68.5% 100%);
  }
}
.expand_animation {
  animation: expand 2000ms;
  animation-timing-function: linear; 
}
.shrink_animation {
  animation: shrink 2000ms;
  animation-timing-function: linear; 
}
#reset_card_popup_text {
  /* width: 90%;
  height: 40px;
  top: 83px;
  background-image: url(../img/reset_card_popup_text.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 25px; */
}
.reset_card_popup_btn {
  z-index: 999;
}
#reset_card_popup_btn_ok {
  background-image: url(../img/btn-ok.png);
  left: 301px;
}
#reset_card_popup_btn_cancel {
  background-image: url(../img/btn-cancel.png);
  background-size: contain;
  left: 142px;
}

#reset_card_popup div {
  display: none;
}
#reset_card_popup .reset_card_popup_btn {
  top: 148px;
  width: 115px;
  height: 66px;
  background-size: contain;
}
#reset_card_popup .reset_card_popup_btn#cancel {
  left: 135px;
}
#reset_card_popup .reset_card_popup_btn#confirm {
  left: 301px;
}
/* for F11 fullscreen on / off */
@media (display-mode: fullscreen) {
  button.btn#full_screen_btn img {
    content: url(../img/btn-fullscreen-off.png);
  }
}
#expand_btn {
  top: 373px;
  left: 869px;
  height: 61px;
  width: 64px;
  z-index: 50;
}
#keyboardContainer, #messageContainer {
  width: 100%;
  display: flex;
  height: 178px;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
  z-index: 99;
}
#message {
  position: absolute;
  width: 1610px;
  top: 110px;
  left: 130px;
  height: 115px;
  text-align: center;
  color: #460096;
  text-align: center;
  vertical-align: center;
  font-family: 'Malgun Gothic', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#message span {
  display: inline-block;
}
#keyboardContainer {
  bottom: 6px;
  width: 100%;
  display: none;
  height: 178px;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
  z-index: 99;
}
#keyboard {
  width: 1448px;
  height: 170px;
  background-image: url(../img/keyboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.key {
  width: 132px;
  height: 138px;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key img {
  width: 100%;
  height: 100%;
}
#messageContainer {
  bottom: 29px;
  height: 240px;
  overflow: hidden;
}
#total_number_container {
 width: 498px;
 height: 115px;
 position: absolute;
 z-index: 999;
 top: 102px;
 left: 1127px;
 /* display: flex; */
 /* outline: 3px solid green; */
 flex-direction: row;
}
#total_number_container_rest {
 width: 679px;
 height: 90px;
 position: absolute;
 z-index: 99;
 top: 275px;
 left: 902px;
 display: flex;
 flex-direction: row;
}
.total_number {
  width: 67px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
}
.total_number span {
  font-weight: normal;
}
#total_number_5 {
  top: 2px;
  left: 21px;
}
#total_number_4 {
  top: 8px;
  left: 114px;
}
#total_number_3 {
  top: 13px;
  left: 209px;
}
#total_number_2 {
  top: 4px;
  left: 300px;
}
#total_number_1 {
  top: 17px;
  left: 399px;
}
.pencil {
  background-image: url('../img/pencil.svg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.num {
  display: inline-block;
  font-family: 'Batang', sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  pointer-events: none;
  z-index: 999;
  /* outline: 1px solid red; */
}
#answer_number_container {
  /* outline: 1px solid red; */
  /* display: none; */
  top: 287px;
  width: 526px;
  left: 1131px;
  height: 543px;
  /* flex-direction: column; */
  gap: 36px;
  /* display: none; */
}
.answer_number {
  /* outline: 1px solid red; */
  width: 79px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer_number span {
  font-weight: normal;
}
#answer_number_5 {
  top: 13px;
  left: 24px;
}
#answer_number_4 {
  top: 121px;
  left: 118px;
}
#answer_number_3 {
  top: 232px;
  left: 211px;
}
#answer_number_2 {
  top: 343px;
  left: 306px;
}
#answer_number_1 {
  top: 452px;
  left: 396px;
}
.expanded_number {
  /* padding: 7px 6px; */
  /* flex: 0 0 169px; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  height: 95px;
  /* gap: 10px; */
  /* outline: 2px solid blue; */
  align-items: center;
  justify-content: space-around;
}

#expanded_number_container {
  left: 191px;
  top: 289px;
  width: 835px;
  flex-direction: column;
  height: 535px;
  gap: 15px;
  /* display: none; */
}
.expanded_number_chip {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expanded_number_chip img {
  height: 82px;
  width: 82px;
}
.answer_number1 span {
  font-family: 'NanumSquareRound';
  font-size: 37px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  z-index: 1000;
}
svg#expand_area {
    opacity: 0;
}

#string_number_container {
  left: 1671px;
  top: 289px;
  width: 155px;
  flex-direction: column;
  height: 535px;
  gap: 15px;
}
.string_number {
  height: 100px;
  justify-content: center;
  align-items: center;
}
.string_number span {
  font-size: 50px;
  font-family: 'Malgun gothic', sans-serif;
}
#visibility_container {
  flex-direction: column;
  /* outline: 1px solid green; */
  left: 79px;
  top: 289px;
  height: 550px;
  gap: 16px;
}
.visibility {
  /* outline: 1px solid red; */
  height: 94px;
}