

/** 프로젝트 컨테이너 ---------------- */
#container {
    display: flex; 
    justify-content: center; 
    width: 100%; 
    height: 100%; 
    align-items: center; 
    background-color: #dbdbdb;
}

.wrap {
    background-color: white;
}

.active {
    display: flex !important;
}

.deactive {
    display: none !important;
}

.activity {
    display: flex; 
    width: 1920px; 
    height: 1020px;
}





/** 키보드 ------------------- */
button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.keyboard{
    width: 492px; 
    height: 634px; 
    position: absolute; 
    left: 764px; 
    top: 243px; 
    display: flex; 
    background-image: url(../img/common/keyboard_box.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
    gap: 30px;
}

.key_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 93%;
}

.keyboard button{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 118px; 
    height: 118px; 
    font-size: 90px;  
    color: #383838; 
    position: relative; z-index: 1; 
    font-family: 'Bbatang';
}

.keyboard button.black{
   color: white;
}

.keyboard button:before{ 
    content: ''; 
    display: block; 
    width: 118px; 
    height: 118px; 
    border-radius: 27px; 
    background-color: #fff; 
    position: absolute; 
    left: 0; top: 0; z-index: -1;
}

.keyboard button.black:before {
    background-color: #6A6A6A;
}

.keyboard button.black::after {
    background-color: #545454;
}


.keyboard button:after{
    content: ''; 
    display: block; 
    width: 118px; 
    height: 118px;
    border-radius: 27px; 
    background-color: #D2D2D2; 
    box-shadow: 0px 3.6px 7.2px 0px rgba(0, 0, 0, 0.25), 0px 3.6px 3.6px 0px rgba(255, 255, 255, 0.25) inset; 
    position: absolute; left: 0; top: 5px; z-index: -2;
}





/** 공용 클래스---------------- */
.pointer {
    cursor: pointer;
}

.malgun {
    font-family: "Malgun" !important;
}

.malgun_bd {
    font-family: "Malgunbd" !important;
}

.batang {
    font-family: "Bbatang" !important;
}




/** 선택형 문제 ----------------- */
.question_container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    width:650px;
}

.text_container {
    width: 100%;
    display: flex; 
    align-items: center;
}

.question_text {
    height: 54px;
    font-size: 34px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbering_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    background-color: #005B09;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 10px;
    font-family: "Malgunbd" !important;
    line-height: 1.2;
}

.numbering_dumy {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-right: 10px;
}

.clickBox {
    width: 222px;
    height: 60px;
    border-radius: 20px;
    border: 5px solid #5090EA;
    color: #B73751;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.click-img-div {
    position: absolute;
    opacity: 1;
    margin-top: 3px;
    background-size: cover;
    background-position: center;
}

.click-answer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    line-height: 80px;
}


/** 입력형 문제 */
.writeBox {
    width: 189px;
    height: 100px;
    border-radius: 28px;
    /* border: 8px solid #994AF4; */
    border: 8px solid rgba(191, 199, 218, 1);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    padding: 0px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    outline: none;
    font-family: "Bbatang";
}

.write-img-div {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.write-answer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color:#B73751;
}


.confirm_btn {
    position: absolute; 
    top: 900px; 
    left: 1490px;
    cursor: pointer;
    width: 190px;
}
.confirm_btn img{width:190px;}
.confirm_btn[disabled]{
    opacity:0;cursor:default;
}
.restart_btn {
    position: absolute; 
    top: 900px; 
    left: 1690px;
    cursor: pointer;
}


/** 식 형태 디자인 */
.calcSpace {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleLine {
    background-color: rgba(34, 34, 34, 1);
    width: 438px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
}



/** 탭 형식 디자인 */
.tab_container {
    position: relative;
    top: -3px;
    left: -3px;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
    width: 660px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 65px;
}

.tab_btn {
    display: flex; 
    justify-content: center;
    align-items: center;  
    cursor: pointer;
    font-size: 28px;
    height: 68px;
    font-family: "Malgunbd" !important;
}

.right-bottom-func{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;  
}
.right-bottom-func .func-item-wrap{
    position: absolute;
    left:1270px;
    top:898px;
    display: flex; 
    justify-content: flex-start;
    align-items: center;  
    gap: 15px;
    margin-left:12px;
}   
.right-bottom-func .func-item-wrap button{
    border:0;background:transparent;padding:0;
}
.right-bottom-func .func-item-wrap button img{width:60px;}
.chapterView1{position:absolute;left:-2000000px;opacity:0;}
.chapterView1.on{position:static;opacity:1;}
.chapterView2{position:absolute;left:-2000000px;opacity:0;}
.chapterView2.on{position:static;opacity:1;}

.confirm-popup{width:100%;height:100%;position:fixed;left:0;top:0;z-index:10;display:none;
    background-color: rgba(0,0,0,.6);
    justify-content:center;align-items:start;
}
.confirm-popup:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2130px;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    transform: translateX(-100%);
}
.confirm-popup:after{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    left: 1920px;
    width: 2130px;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
}
#chapter1-confirm01.confirm-popup{background:url(../img/common/bg-dim-chapter01.png) no-repeat center top;background-size:cover;}
#chapter1-confirm02.confirm-popup{background:url(../img/common/bg-dim-chapter02.png) no-repeat center top;background-size:cover;}
#chapter2-confirm01.confirm-popup{background:url(../img/common/bg-dim-chapter03.png) no-repeat center top;background-size:cover;}
#chapter2-confirm02.confirm-popup{background:url(../img/common/bg-dim-chapter04.png) no-repeat center top;background-size:cover;}
.confirm-popup.on{display:flex;}
.chapter-mask01{padding:10px;position:absolute;left:706px;top:356px;border-radius:20px;background:#fff;width:340px;height:auto;overflow:Hidden;}
.chapter-mask01 img{width:100%;}
.chapter-mask02{padding:10px;width:480px;height:auto;overflow:Hidden;position:absolute;bottom:143px;right:104px;border-radius:20px;background:#fff;}
.chapter-mask02 img{width:100%;}
.chapter-mask03{padding:10px;position:absolute;left:1051px;top:355px;border-radius:20px;background:#fff;width:102px;height:auto;overflow:Hidden;}
.chapter-mask03 img{width:100%;}
.chapter-mask04{padding:10px;width:548px;height:auto;overflow:Hidden;position:absolute;bottom:424px;right:73px;border-radius:20px;background:#fff;}
.chapter-mask04 img{width:100%;}
.confirm-popup .msg{
    border-radius: 60px;
    border: 4px solid #222;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.40);
    display:inline-flex;
    padding:30px 115px 30px 50px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 57.6px */
    color:#222;
    position:relative;
    margin-top:47px;
}
.confirm-popup .btn-confirm-close{
    position:absolute;right:20px;top:25px;
    border:0;background:transparent;padding:0;
}
.confirm-popup .btn-confirm-close img{
    width:60px;
}
.chapter-mask05{padding:10px;position:absolute;left:130px;top:247px;border-radius:20px;background:#fff;width:430px;height:auto;overflow:Hidden;}
.chapter-mask05 img{width:100%;}
.chapter-mask06{padding:10px;width:494px;height:auto;overflow:Hidden;position:absolute;bottom:185px;right:77px;border-radius:20px;background:#fff;}
.chapter-mask06 img{width:100%;}
.chapter-mask07{padding:10px;position:absolute;left:131px;top:457px;border-radius:20px;background:#fff;width:862px;height:auto;overflow:Hidden;}
.chapter-mask07 img{width:100%;}
.chapter-mask08{padding:10px;width:303px;height:auto;overflow:Hidden;position:absolute;bottom:179px;right:188px;border-radius:20px;background:#fff;}
.chapter-mask08 img{width:100%;}
.problem1_1 .write-answer-div{
    font-size:42px !important
}

.problem2_1 .write-answer-div{
    font-size:42px !important
}
.problem4_1 .write-answer-div{
    font-size:42px !important
}
.problem3_1 .write-answer-div{
    justify-content: flex-end;
    padding: 0 25px;
    font-size:48px !important
}

.problem1_1 .write-img-div{
    width:34px !important;
    height:34px !important;
}
.problem2_1 .write-img-div{
    width:34px !important;
    height:34px !important;
}
.problem3_1 .write-img-div{
    width:34px !important;
    height:34px !important;
}
.problem4_1 .write-img-div{
    width:34px !important;
    height:34px !important;
}

.c2_2 .write-answer-div{
    font-size:42px !important
}
.c2_2 .write-img-div{
    width:34px !important;
    height:34px !important;
}
#chapter1View04 .c2_2 .write-answer-div{
    justify-content: flex-end;
    padding: 0 25px;
    font-size:42px !important
}
.c1_2 .write-answer-div{
    color: #000 !important
}

#chapter3 *{
    font-family: 'Malgunbd';
}